/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article{   
    margin: 25px 0;
    padding: 30px;
    border: 2px solid black;
}

.style-me1{
    color: red;
}

#style-me2{
    color: blue;
}

.style-me1#style-me2{
    color: purple;
}
/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p{
    background-color: red;
}
.my-children-are-styled > p{
    background-color: lightgreen;
}
/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box{
    background-color: rgb(95, 237, 235);
    margin: 30px 15px 30px 15px;
    padding: 20px 20px;
    padding: 50px;
    width: 1rem; 
    height: 10vh !important ; /*2.2 why is it? :inline style is higher proirity than external file*/
    width:30vw; 
    height:20vh;/*2.3 What can you observe? :width and height change depends on viewport sizes*/

    border:solid;
    border-color: black;
    border-style: dotted;
    border: 10px solid;

    box-sizing: border-box; /*4.1 How do they affect the width and height of the box elements? :'border-box'size includes padding and border*/
    box-sizing: content-box;
      
                      /*5.2 How do they affect the box? : answer below*/
    overflow: hidden; /*'hidden' makes the overflowing text not showing*/
    overflow: scroll; /*'scroll' makes to be able to check all text with scrolling*/
    overflow: visible; /*'visible displays everything*/

    outline: 10px;

    border-radius: 2em;
    width:100px;
    height:100px;
    border-radius: 50%;
    padding: 20%;

    background-image: url(../assets/images/img1.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat;
    background-position: center;   
}

/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute{
    position: absolute;
    top: 0;
    /*bottom:0;*/
    background-color: plum;

   left: 200px;
   right: 150px; /*what does this do? it moves horizontally*/
}

.position-relative{
    position: relative;
    background-color: aquamarine;
    /*2.3	How is absolute positioning within relative different from absolute positioning that is outside of relative?  An absolutely positioned element inside a relatively positioned parent is positioned based on the parent, not the whole page.*/
}

.position-sticky {
    position: sticky;
    background-color: coral;
    top: 150px;
}
/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style{
    color: brown;
    font-size: large;
    font-size: 40px;

    line-height: 5;

    font-weight: bold;
    font-weight: 800;

    
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    text-align: right;
    letter-spacing: 30px; 
    letter-spacing: 60px;
    word-spacing: 70px;
    text-transform: lowercase; 
    text-transform: uppercase; 
    text-decoration: dotted; 
    text-decoration: line-through; 
}
/* V. Styling links */
/* Put styles for questions 1-3 here */
a:link{
    color: aqua;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

a:hover{
    color: rgb(3, 46, 46);
    text-decoration: line-through;
  }
a:active{
   color:rgb(67, 10, 67);
   text-decoration:dotted;
}
a:focus{
    color:rgb(25, 59, 2);
   text-decoration:overline;
}

a:visited{
    color:silver;
    font-style: italic;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style{
    width: 100vw;
    background-color: palegoldenrod;
    width: calc(100vw - 100px); 
}
.fixed-width-col{
    width: 350px;
    display: inline-block;
}
.fluid-col{
    display: inline-block;
    width: calc(100% - 450px);
}