body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    min-height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
} 
/* 2.3 . How does the value for the flex affect the size of the item? all of them got smaller?? */
.flex-item-1{
    flex:1;

}
.flex-item-2{
    flex:2;
}
.flex-item-3{
    flex:3;
}
.flex-item-4{
    flex:4;
}
/*3centering with flexbox*/
.flex-center{
    justify-content: flex-start;
    justify-content:baseline; /*this one not work*/
    justify-content: flex-end;
    justify-content: center;
    align-items: flex-end;
    align-items: baseline;
    align-items: center;
}
/*4.assigning leftover space*/
.flex-space-between{
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around; 
    justify-content: space-evenly; 
} 
/*5.wrapping*/
.flex-wrap{
    flex-wrap: wrap; 
    flex-wrap: wrap-reverse;

}
.flex-basis-item-50{
    flex-basis: 50%;
    flex-basis: 25%;
}


/* 7. Flexbox for horizontal navigation  */
.flex-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: left;
    padding-left: 0.1%;
    gap:0.2%;
    font-weight: bold;
    color: black;
    justify-content: right;
    justify-content: center;
   
}

.flex-menu li {
    padding: 10px 15px;
    text-align: center;
    flex-grow: 1;
}
.first-item{
    order:1;
}
.second-item{
    order: 2;
}
.third-item{
    order: 3;
}
.fourth-item{
    order:5;
}
.fifth-item{
    order: 4;
}